/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.btn-pink{
    /* background-color: #f496d229;
    color: #3F87F5; */
    background-color: #0242a2a5;
    color: #fff;
    font-weight: 900;
    width: 97%;
    border-radius: 50px;
}
.btn-white{
    background-color: #fff;
    color: #3F87F5;
    font-weight: 900;
    width: 97%;
    border-radius: 50px;
}
.hot-card{
    background-color: #3F87F5;
    color: #fff;
    border-radius: 20px;
    box-shadow: rgba(24, 41, 172, 0.45) 0px 55px 40px -20px;

}
.card-body img{
    width: 100px;
}
.package-card{
    min-width: 282px;
    min-height: 480px;
}