/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.btn-blue{
    background-color: #0d71dcbf;
    color: #fff;
    font-weight: 900;
    width: 70%;
    border-radius: 50px;
}
.btn-white{
    background-color: #fff;
    color: #3F87F5;
    font-weight: 900;
    width: 97%;
    border-radius: 50px;
}
.hot-card{
    background-color: #3F87F5;
    color: #fff;
    border-radius: 20px;
    box-shadow: rgba(24, 41, 172, 0.45) 0px 55px 40px -20px;
}
.card-body img{
    width: 100px;
}
footer{
    min-height: 280px;
}
footer img{
    width: 134px;
    height: 40px;
    margin-bottom: 8px;
}

@media(max-width:688px){
    .caption{
        padding-bottom: 2px;
    }
    .caption h1{
        font-size: 18px;
    }
    .caption p{
        font-size: 8px;
    }
    .caption a{
        padding: 2px 0px;
    }
}